<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %level - [%-10c{1}] %msg%n"/>
        </Console>

        <File name="File" fileName="../log.txt" append="true" immediateFlush="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %level - [%-10c{1}] %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <!--<AppenderRef ref="Console"/>-->
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
